# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
.env

# Sensitive settings
FormaApp/settings.py

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Windows
.DS_Store
Thumbs.db